@inject DeliverySystem.DAL.Contracts.IProductServices model

@{
    ViewData["Title"] = "Get Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Get Products</h1>

<p>
    <a asp-action="Create">Click here to create a new product</a>
</p>

@using Delivery_Service.API.HtmlHelpers

@ListHtmlHelper.CreateList(model.GetAllProducts())

